body{
    margin: 0;
    padding:0;
}
#container{
    display: grid;
    grid-template-columns: repeat(4, 13vw);
    grid-template-rows: repeat(2,13vw);
    grid-gap: 6vw;
    padding:6vw;
    margin: 0 9vw ;
    background: gray;
    border-radius: 2vw;
}

.btn{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: red;
    border-radius: 10%;
    position: relative;
}
.btn:hover{
    cursor: pointer;
}

.label{
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    margin: 0% 10%;
    margin-top: 50%;
    color: aliceblue;
    font-size: 5vw;
    border-radius: 10%;
}